.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-content {
  flex: 1;
  /* background-color: #e0eee0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 24px 0 0 24px;
  margin: 1rem 1rem 1rem 0;
  overflow-y: auto;
}

.brain-icon {
  width: 200px;
  height: 200px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
